In [63]:
import pandas as pd
from datetime import timedelta, date, datetime

In [12]:
df = pd.read_csv("days.csv")

In [18]:
df = df[df.columns[:4]].head(10)

In [19]:
df['Entry'] = pd.to_datetime(df['Entry'])
df['Exit'] = pd.to_datetime(df['Exit'])

In [20]:
df

       Entry Entry airport       Exit Exit airport
0 2021-08-09           CDG 2021-08-20          CDG
1 2021-12-20           CDG 2022-01-19          CDG
2 2022-06-06           BRU 2022-06-26          BRU
3 2023-02-02           BRU 2023-02-07          BRU
4 2023-04-30           AMS 2023-05-27          BRU
5 2023-06-05           BRU 2023-06-26          BRU
6 2023-07-07           FRA 2023-07-24          WAW
7 2023-08-26  Thessaloniki 2023-09-01          SKG
8 2023-09-10           BRU 2023-09-19          TBD
9 2023-10-24           BRU 2023-10-31          TBD

In [23]:
df['number_of_days'] = df['Exit'] - df['Entry'] + timedelta(days=1)
df

       Entry Entry airport       Exit Exit airport number_of_days
0 2021-08-09           CDG 2021-08-20          CDG        12 days
1 2021-12-20           CDG 2022-01-19          CDG        31 days
2 2022-06-06           BRU 2022-06-26          BRU        21 days
3 2023-02-02           BRU 2023-02-07          BRU         6 days
4 2023-04-30           AMS 2023-05-27          BRU        28 days
5 2023-06-05           BRU 2023-06-26          BRU        22 days
6 2023-07-07           FRA 2023-07-24          WAW        18 days
7 2023-08-26  Thessaloniki 2023-09-01          SKG         7 days
8 2023-09-10           BRU 2023-09-19          TBD        10 days
9 2023-10-24           BRU 2023-10-31          TBD         8 days

In [130]:
def days_within_180(df, por='latest'):
    if por == 'latest':
        por = df.iloc[-1]['Exit']
    if por == 'today':
        por = datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
    daysago180 = por - timedelta(days=180)
        
    cnt = timedelta(days=0)
    for entry, exit in zip(df['Entry'], df['Exit']):
        if exit < daysago180:
            cnt +=  timedelta(days=0)
        elif entry > por:
            cnt +=  timedelta(days=0)
        else:
            if entry < daysago180: entry = daysago180
            if exit > por: exit = por
            number_of_days =  exit - entry + timedelta(days=1)  
            cnt += number_of_days            
    return cnt

In [131]:
dw180 = []

for i in range(df.shape[0]):
    dw180.append(days_within_180(df.head(i+1)))
    
df['days_within_180'] = dw180

In [132]:
df

,Entry,Entry airport,Exit,Exit airport,number_of_days,days_within_180
0,2021-08-09,CDG,2021-08-20,CDG,12 days,12 days
1,2021-12-20,CDG,2022-01-19,CDG,31 days,43 days
2,2022-06-06,BRU,2022-06-26,BRU,21 days,44 days
3,2023-02-02,BRU,2023-02-07,BRU,6 days,6 days
4,2023-04-30,AMS,2023-05-27,BRU,28 days,34 days
5,2023-06-05,BRU,2023-06-26,BRU,22 days,56 days
6,2023-07-07,FRA,2023-07-24,WAW,18 days,74 days
7,2023-08-26,Thessaloniki,2023-09-01,SKG,7 days,75 days
8,2023-09-10,BRU,2023-09-19,TBD,10 days,85 days
9,2023-10-24,BRU,2023-10-31,TBD,8 days,89 days

In [133]:
days_within_180(df,'today')

Timedelta('56 days 00:00:00')